[submodule "PartyLink-backend"]
	path = PartyLink-backend
	url = https://github.com/BeanieMen/PartyLink-backend
[submodule "PartyLink"]
	path = PartyLink
	url = https://github.com/BeanieMen/PartyLink
